body {
    font-family: Arial, sans-serif;
    margin: 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #bbb;
}

a:active {
    color: #fff;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #5474fd;
    width: 225px;
    height: 60px;
    margin: 4px;
    font-family: "Aleo";
    font-size: 16px;
    letter-spacing: 0.75px;
    cursor: pointer;
    position: relative;
    background: #496bfe; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #496bfe 40%, #5474fd 40%, #5474fd 40%, #5474fd 41%);
    background: -webkit-linear-gradient(45deg,  #496bfe 40%,#5474fd 40%,#5474fd 40%,#5474fd 41%);
    background: linear-gradient(45deg,  #496bfe 40%,#5474fd 40%,#5474fd 40%,#5474fd 41%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#496bfe', endColorstr='#5474fd',GradientType=1 );

}

.btn_effect {
    transition: background 0.3s linear;
}

.btn_effect:hover {
    background: rgba(0, 0, 0, 0);
}

.title_all {
    font-family: "Aleo";
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}

/* Header */
header {
    min-height: 100vh;
    height: 100vh;
    color: #ffffff;
}

.header_title {
    position: relative;
    background: url("../img/header_bg.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
}

.header_title-title{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
    margin-top: 50px;
}

.header_title-subtitle {
    font-size: 16;
    letter-spacing: 1px;
    line-height: 26px;
    margin-bottom: 48px;
    font-family: "Josefin Sans";
}

.header_title form {
    position: relative;
    background: #ffffff;
    height: 48px;
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inp-search {
    width: calc(100% - 145px);
    height: 100%;
    border: none;
    text-align: center;
    font-family: "Josefin Sans";
    color: #999;
    letter-spacing: 2px;
    font-weight: 300;
}

.btn-search {
    position: relative;
}

.btn-search .fas {
    position: absolute;
    right: 20px;
    top: 50%;
    margin: -12px 0 0 0;
    font-size: 20px;
    background: none;
    padding: 0;
}

.btn-search .fas.fa-search::before {
    color: #fff;
}

.header_title-button {
    font-family: "Aleo";
    font-weight: 400;
    text-align: center;
    width: 141px;
    border: 2px solid rgba(0, 0, 0, 0);
    margin: 2px;
    height: 44px;
    letter-spacing: 1px;
    padding-right: 33px;
}

.header_title-button:active {
    border: 2px solid #bbb;
    color: #bbb;
}

.scroll {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.5;
}
.scroll:hover .scroll a {
    color: #fff;
    transform: scale(1.03);
    opacity: 1;
}

.fas.fa-arrow-down::before {
    content: "\f063";
}

.fa-arrow-down {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}

.logo_nav {
    width: 100%;
    max-width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo_nav a {
    font-family: "Aleo";
    display: inline-block;
    margin: 0 0 0 20px;
}

.logo a {
    margin: 0;
}

.sticky-content {
    height: 64px;
    background: #5474fd;
    position: relative;
}

.sticky-content.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* Section Choose Us */
.choose_us {
    background: url("../img/choose_bg.png") no-repeat center center;
    background-size: cover;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 115px 0;
}

.choose_us ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto;
}

.choose_us li {
    display: flex;
    flex-direction: column;
    width: calc(50% - 30px);
    padding: 0 15px;
}

.choose_us li:nth-child(1) {
    justify-content: center;
}

.choose_us li:nth-child(2) {
    justify-content: center;
}

.choose_us h2 {
    margin-bottom: 72px;
    text-align: left;
}

.choose_us p {
    font-family: "Josefin Sans";
    font-size: 16px;
    margin-bottom: 72px;
    line-height: 1.5;
}

.choose_us img {
    width: 320px;
    margin: 2.5px;
}

.choose_us img:nth-child(2) {
    align-self: flex-end;
}

.bg-icons {
    background: #333333;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-line {
    padding-top: 45px;
    width: 65%;
}

.icons-line img {
    width: 100%;
}

.icons ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 100px 35px 105px;
    position: relative;
}

.icons li {
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    padding: 0 35px;
}

.icons li::after {
    content: "";
    position: absolute;
    width: 380px;
    height: 95px;
    background: url(../img/bg-dotted.png) no-repeat;
    top: -55px;
    margin-left: 15px;
}

.icons li:last-child::after {
    display: none;
}

.icons p {
    font-family: "Aleo";
    font-size: 36px;
}

.ico {
    font-size: 60px;
    margin-bottom: 25px;
    padding: 0 15px;
    background: #333;
    position: relative;
    z-index: 1;
}

.fas.fa-search::before {
    content: "\f002";
    color: #4d67d5;
}

.far.fa-check-circle::before {
    content: "\f058";
    color: #ff6363;
}

.far.fa-thumbs-up {
    content: "\f164";
    color: #00a2ff;
}

/* Section Spain */
.col-wrapper {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.block-right {
    display: flex;
    flex-direction: column;
}

.spain {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 230px 0 100px;
}

.spain.one {
    background: url("../img/spainone_bg.png") no-repeat center center;
    background-size: cover;
}

.spain_box {
    background: rgba(42, 39, 41, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 75px);
    padding: 50px 30px;
    color: #ffffff;
    font-family: "Josefin Sans";
    font-weight: 300;
}

.spain_box h2,
.spain_box h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.spain_box h2 {
    letter-spacing: 1px;
}

.spain_box h3 {
    text-transform: uppercase;
}

.spain_box p {
    line-height: 1.5;
    margin-bottom: 40px;
}

.spain.two {
    background: url("../img/spaintwo_bg.png") no-repeat center center;
    background-size: cover;
}

.spain_two {
    align-self: flex-end;
}

.feedback {
    background: url("../img/feedback_bg.png") no-repeat center left;
    background-size: cover;
    padding: 10%;
    padding-top: 0%;
}

.feedback_title {
    color: #fff;
    font-size: 36px;
    padding: 1em 0;
    font-weight: 300;
}

.slider_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider_picture {
    width: 100%;
}

.slider_picture img {
    width: 100%;
    display: block;
}

.slider_text {
    width: 48%;
    padding: 33px 60px;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Josefin Sans";
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background: #333333;
}

.slider_text h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
}

.slider_text .fas.fa-quote-left::before {
    content: "\f10d";
    vertical-align: top;
    margin-right: 5px;
    color: #5474fd;
    font-size: 17px;
    vertical-align: 14px;
}

/* Footer */
footer {
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 115px 0 0;
    color: #ffffff;
}

.footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .header_title-title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4.4px;
}

.contact_subtitle {
    margin: 0;
}

.contact_icons {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin: 2em 0;
}

.fab {
    transition: color 0.5s linear;
}

.fab.fa-facebook-f::before {
    content: "\f39e";
}

.fab.fa-facebook-f:hover {
    color: #3f51b5;
}

.fab.fa-twitter::before {
    content: "\f099";
}

.fab.fa-twitter:hover {
    color: #03a9f4;
}

.fab.fa-linkedin-in::before {
    content: "\f0e1";
}

.fab.fa-linkedin-in:hover{
    color: #3f51b5;
}
.fab.fa-youtube::before {
    content: "\f167";
}

.fab.fa-youtube:hover {
    color: #ff1c1c;
}

.fab.fa-pinterest::before {
    content: "\f0d2";
}

.fab.fa-pinterest:hover {
    color: #f44336;
}
